$heading-font-family: "Bricolage", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$grid-gutter: pxToRem(8)
$grid-gutter-lg: pxToRem(8)
$grid-gutter-xxl: pxToRem(8)

// MAIN COLORS
$color-accent: #0038FF
$color-text: #FFFFFF
$color-text-alt: #454545
$color-background: #000000
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$body-color: var(--color-text)
$body-background-color: var(--color-background)
$link-color: var(--color-text)

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$header-logo-height: 100px

$hero-height-desktop: 85vh

$h1-size-desktop: Min(21.5vw, 430px)
$h1-size: 21vw
$h2-size: 10vw
$h2-size-desktop: 10vw
$h1-weight: 600
$h2-weight: 600
$h5-weight: 600
$h5-size: pxToRem(25)
$h5-size-desktop: pxToRem(30)
$h5-text-transform: none

$heading-margin-top: space(70)
$heading-margin-top-desktop: space(80)

$btn-font-size-desktop: pxToRem(35)
$block-call-to-action-accent-background: white